* {
  box-sizing: border-box;
}

html,
body,
#root,
#root > div,
div[data-reactroot] {
  height: 100%;
  padding: 0;
  margin: 0;
}

.hide {
  visibility: hidden
}
.show {
  visibility: visible
}

.google-button {
  margin: auto;
  height: 75px;
  border-width: 0;
  background: lightgray;
  box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
  color: #737373;
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  padding: 0;

}
.google-button:hover{
   background-color: #ac4c4c;
    transition-duration: 10ms;
    box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
}
    
.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 24px;
  font-size: 32px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;

}



.lessontopics {
  /* display: inline-block; */
  /* vertical-align: right; */
  padding: 0 24px 24px 24px 24px;
  font-size: 16px;
  /* font-weight: bold; */
  font-family: 'Roboto',arial,sans-serif;
  justify-items: right;
  text-justify: auto;
  justify-content: baseline;
  align-self: stretch;
  /* text-align: right; */

  
}


.container{
  text-align: center;
/* align-self: auto; */
}