.navbar-default {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.AuthorSection {
    font-size: 15px
}

.postWrapper {
    box-shadow: 3px 3px orange, -1em 0 .4em olive;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 200px;
    margin-left: 200px;
    background-image: url("/images/orange.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    max-width: 100%;
}

img {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 35px;

        /* make a square container */
        width: 185px;
        height: 185px;
    
        /* fill the container, preserving aspect ratio, and cropping to fit */
        object-fit: cover;
    
        /* center the image vertically and horizontally */
        background-position: top center;
    
        /* round the edges to a circle with border radius 1/2 container size */
        border-radius: 50%;
    
}

.author{
   text-align: left;
   margin-inline-start: 100px;
   font-size: 25px;
}

.date{
    font-size: 15px;
    font-weight: bold;
}

.content{
    font-size: 20px;
    font-style: normal;
    box-sizing: border-box;
    width: 500px;
    height: 200px;  
    border: 5px solid grey;
    padding: 5px;
    background-color:gold;
}
 

.link{
    font-size: 15px;
    text-align: left;
    box-sizing: border-box;
    width: 500px;
    height: 45px;  
    border: 5px solid grey;
    padding: 5px;
    background-color: gold;
    margin-top: 10px;
}

button {
    background-color: white;
    border: none;
    color:black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#editButtons {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1px;
}

    .rating {
        float:left;

    }



    
    /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
    .rating:not(:checked) > input {
        position:absolute;
        top:-9999px;
        clip:rect(0,0,0,0);
    }
    
    .rating:not(:checked) > label {
        float:right;
        width:1em;
        padding:0 .1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:200%;
        line-height:1.2;
        color:#ddd;
        text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating:not(:checked) > label:before {
        content: '★ ';
    }
    
    .rating > input:checked ~ label {
        color: #f70;
        text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #ea0;
        text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    }
    
    .rating > label:active {
        position:relative;
        top:2px;
        left:2px;
      
    }

