.AuthorSection {
    font-size: 15px
}

.postWrapper {
    box-shadow: 3px 3px orange, -1em 0 .4em olive;
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 40px;
    margin-right: 150px;
    margin-left: 150px;
}

img {
    height: 200px;
    margin-top: 10px;
    align-content: center;
    margin-left: 100px;
    
}

.author{
   text-align: left;
   margin-inline-start: 100px;
}