.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
  
}

.link{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

.img{
   height:250px;
   width: 250px;
}

#cover{
    height: 320px;
    width:300px;
    box-shadow: 3px 3px orange, -1em 0 .4em olive;
    margin-top: 20px;
    
}

#cover {
    transition: transform .5s;
  }
  
  #cover:hover {
    transform: scale(1.2);
  }