.footer {
  min-height: 50px;
  background:#FF9933;
  position: relative;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Delius Swash Caps', cursive;
  text-shadow: 2px 2px grey;
  box-shadow: 0 3px 6px grey, 0 3px 6px #999
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 3px;
  background:#FF9933;
  text-shadow: 2px 2px grey;
  box-shadow: 0 3px 6px grey, 0 3px 6px #999
}
