nav.navbar.navbar-default {
  display: flex;
  flex: 1;
  flex-direction: row;
  text-align: center;
  margin-bottom: 0;
  padding: 0.5%;
  box-shadow: 0 3px 6px #FF9933, 0 3px 6px #999
}

.navbar li{

  display: flex;
  flex: 1;
  flex-direction: row;
  font-size: 20px;
  padding: 10px;
}

.loginArea {
  position: absolute; /*or fixed*/
  top: 30px;
  right: 15px;
  font-size: 20px;
}